Repository melloddy/MELLODDY-Predictor: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, isort, black, autoflake, flake8, pylint, mypy, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: docformatter
      name: Format docstrings with `docformatter`
      language: system
      types: [python]
      require_serial: true
      entry:  docformatter
      args: [
        --in-place, --wrap-summaries=88, --wrap-descriptions=87, --recursive
      ]
      files: ^(melloddy_predictor|tests|examples)/
-   repo: local
    hooks:
    - id: isort
      name: Sorting imports with `isort`
      language: system
      types: [python]
      require_serial: true
      entry:  isort
      files: ^(melloddy_predictor|tests|examples)/
-   repo: local
    hooks:
    - id: black
      name: Formatting files with `black`
      language: system
      types: [python]
      require_serial: true
      entry:  black
      args: [
        --preview,
        --line-length=120,
      ]
      files: ^(melloddy_predictor|tests|examples)/
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
      name: Trim trailing whitespace
    - id: end-of-file-fixer
      name: Fix end of files
      exclude: \.ipynb$
-   repo: local
    hooks:
    - id: autoflake
      name: auto fix some flake errors
      language: system
      types: [python]
      require_serial: true
      entry: autoflake
      files: ^(melloddy_predictor|tests|examples)/
-   repo: local
    hooks:
    - id: flake8
      name: Test linting with `flake8`
      language: system
      types: [python]
      require_serial: true
      entry:  flake8
      files: ^(melloddy_predictor|tests|examples)/
-   repo: local
    hooks:
    - id: pylint
      name: Test linting with `pylint`
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      files: ^(melloddy_predictor|examples)/
      args: [
        "--rcfile=.pylintrc",
      ]
-   repo: local
    hooks:
    - id: mypy
      name: Test typing with `mypy`
      language: system
      types: [python]
      require_serial: true
      entry:  mypy
      files: ^(melloddy_predictor)/
-  repo: local
   hooks:
    - id: jupyter-nb-clear-output
      name: Clear Jupyter notebook outputs
      files: \.ipynb$
      language: system
      entry:  jupyter nbconvert
      args: [
        --ClearOutputPreprocessor.enabled=True, --inplace,
      ]

make lint
  Makefile
Due: none

pre-commit reformat
  .pre-commit-config.yaml
Due: none

make lint
  README.md
Due: none

chore: add pre-commit (#21)
  .github/workflows/python.yml
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  README.md
  examples/example.ipynb
  melloddy_predictor/__init__.py
  melloddy_predictor/model.py
  melloddy_predictor/prepared_data.py
  requirements-dev.txt
  tests/test_prediction_system.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy, jupyter-nb-clear-output

Cleanup removed an accidentally inluded notebook
  melloddy_predictor/Untitled.ipynb
Due: jupyter-nb-clear-output

additions to extraction of meta data from T8 files
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

checks for stats section in model config file instead of inverse_normalization flag
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

testing now they key provider in the example
  tests/TestSinglePred_v2.ipynb
Due: jupyter-nb-clear-output

added test data
  melloddy_predictor/Untitled.ipynb
  outputs/cls-class.npy
  outputs/clsaux-class.npy
  outputs/hyb-class.npy
  outputs/reg-regr.npy
  tests/begin_to_end_test/T2_100samples.csv
  tests/begin_to_end_test/T2_100samples_failing.csv
Due: jupyter-nb-clear-output

Added documentaion to single row predictor
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

added test for single predictor
  tests/test_single_predictor.py
Due: docformatter, isort, black, autoflake, flake8

bug fixes
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

add single row predictor object
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

Added a test notebook
  tests/TestSinglePred_v2.ipynb
Due: jupyter-nb-clear-output

added Enum type class for model/task type encoding
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

added example jupypter notebook
  tests/TestSinglePred_v2.ipynb
Due: jupyter-nb-clear-output

update tests
  tests/TestSinglePred_v2.ipynb
  tests/test_single_predictor.py
Due: docformatter, isort, black, autoflake, flake8, jupyter-nb-clear-output

reworked t8df_to_task_map,
  melloddy_predictor/predictor_single.py
  tests/begin_to_end_test/sc_output/cls_model-class.npy
  tests/begin_to_end_test/sc_output/clsaux_model-class.npy
  tests/begin_to_end_test/sc_output/hyb_model-class.npy
  tests/begin_to_end_test/sc_output/hyb_model-regr.npy
  tests/begin_to_end_test/sc_output/reg_model-regr.npy
  tests/begin_to_end_test/sc_output/trunk_cls.npy
  tests/begin_to_end_test/sc_output/trunk_clsaux.npy
  tests/begin_to_end_test/sc_output/trunk_hyb.npy
  tests/begin_to_end_test/sc_output/trunk_reg.npy
  tests/test_single_predictor.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

added reference input for tests
  tests/begin_to_end_test/mt_output/mapping_table.csv
  tests/begin_to_end_test/mt_output/pred_x.npz
Due: none

comment out inverse norm form sparsechem
  melloddy_predictor/predictor_single.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

fix lints and tests
  .pre-commit-config.yaml
  Makefile
  examples/TestSinglePred_v2.ipynb
  melloddy_predictor/predictor_single.py
  melloddy_predictor/prepared_data.py
  requirements-dev.txt
  tests/TestSinglePred_v2.ipynb
  tests/begin_to_end_test/selected_hyb_tasks.csv
  tests/test_single_predictor.py
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy, jupyter-nb-clear-output

make lint in CI
  .github/workflows/python.yml
Due: none

install precommit
  requirements-dev.txt
Due: none

fix lints
  melloddy_predictor/__init__.py
  melloddy_predictor/model.py
  melloddy_predictor/predictor_single.py
  requirements-dev.txt
Due: docformatter, isort, black, autoflake, flake8, pylint, mypy

add tests to CI
  .github/workflows/python.yml
Due: none

add tests dependencies
  .github/workflows/python.yml
Due: none

changelog
  CHANGELOG.md
Due: none
